<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Tech-Blog</title>
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/loginStyles.css">
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="stylesheet" href="/css/homepageStyles.css">
  <link rel="stylesheet" href="/css/dashboardStyle.css">
</head>

<body>
  
    <header >
      <h1>
        <a class='h1Tag' href="/">The Tech-Blog</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a id="dashboard" href="/dashboard">Dashboard</a> 
        <button  id="logout">Logout</button>
        {{else}}
        <a class='login-nav' id="login" href="/login">Login</a>
        <a class='login-nav' id="sign-up" href="/signup">Sign-Up</a>
        {{/if}}
      </nav>
    </header>
    <main >
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>