<div class="login-card"> 
    <h2>Login:</h2>
    <hr align="center" width="350px">

    <form class="login-form" >
        
        <div class="form-group">
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login">
        </div>
        
        <div class="form-group" >
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-input">
        </div>

        <div class="form-group">
            <button class="loginBtn" type="submit">Login!</button>
        </div>
    
    </form>
</div>
<script src="/js/login.js"></script>