.blog-post-list{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content:flex-start;
    align-items: center;
   
}

h3{
   text-align: center;
}

.card{
 
    border: solid;
    border-width: 2px;
    width: 50%;
    height: 100%;
    margin: 1%;
  
    padding-bottom: 5px;
 


}
.deletePostDiv{
    text-align:end;
    margin-right: 5px;
}
.card-head{
    background-color: lightgreen;
    
}
.post-title{
    border-bottom: solid black 2px;
     padding-left:5px;
     margin-top:0px;
     font-size: 1.5em;
     
}
.post-content{
    text-align: center;
    padding:5px;
    font-size: 1em;
}
.post-card-head{
    justify-content: center;
}